.product-review{
  border: 1px solid #777;
  border-radius: 5px;
  margin-bottom:20px;

  .col-sm-12{
    padding: 10px 10px;
  }
}

i.fa.fa-star{
  color:#FFC107;
}

.reviews-container{
  padding: 10px 0px;
  margin-top:20px;
}