.avg-rating{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin: 20px 0;

  h4{
    padding:0px;
    margin:0px;
  }
}

.product-review{
  background-color:#f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom:20px;
  width:100%;

  .col-sm-12{
    padding: 10px 10px;

    .review-description{
      margin-right:120px;
    }
  }
}

i.fa.fa-star{
  color:#FFC107;
}

.new-review{
  background-color: #f8f8f8;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin:  40px auto;
  padding: 10px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.reviews-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 10px 0px;
  margin-top:20px;

  h2{
    align-self: flex-start;
    margin: 20px 0;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 9px;
  }
  width:100%;
}