<% @reviews.each do |review| %>
    <div class="row product-review">
        <dl class="dl-horizontal">
          <div class="col-sm-12">
              <dt> Name </dt>
              <dd> <%= "#{review.user.first_name} #{review.user.last_name}" %> </dd>
              <dt> Review </dt>
              <dd class="review-description"> <%= review.description %> </dd>
              <dt> Rating </i></dt>
              <dd>
                <%= render "review_stars", product: review.product %>
              </dd>
              <% if current_user && current_user.id == @user.id %>
                <%= link_to "Remove", [@product, review], method:
                :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
              <% end %>
          </div>
        </dl>
    </div>
<% end %>
